<div align = "center">
  <p class="welcome">Welcome to the shopping cart</p>
  <br>
</div>
<div align="center">
<table class="table table-striped margined table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td scope="row">{{article.id}}</td>
      <td scope="row">{{article.title}}</td>
      <td scope="row">{{article.author}}</td>
      <td scope="row">{{article.price | currency:"RSD "}}</td> 
      <td scope="row"><button type="button" data-toggle="modal" data-target="#myModal" (click)="setIndicator('article',article.id)"
         class="btn btn-primary">Buy</button></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped margined table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Subscription</th>
      <th scope="col">Price</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let magazine of magazines">
      <td scope="row">{{magazine.issn}}</td>
      <td scope="row">{{magazine.title}}</td>
      <td scope="row">{{magazine.subscription}}</td>
      <td scope="row">{{magazine.price | currency:"RSD "}}</td> 
      <td scope="row"><button type="button" class="btn btn-primary" (click)="setIndicator('magazine',magazine.issn)"
        data-toggle="modal" data-target="#myModal">Buy</button></td>
    </tr>
  </tbody>
</table>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" *ngIf="indicator ==='magazine'">Magazine buying</h4>
        <h4 class="modal-title" *ngIf="indicator ==='article'">Article buying</h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="radio" *ngFor="let paymentMethod of paymentMethods">
            <label class="radioFont" ><input type="radio" name="optradio" (change)="choose(paymentMethod.paymentType)" 
               [checked]="paymentMethod.paymentType===selectedPaymentMode" >{{paymentMethod.paymentType}}</label>
          </div>
          <div align="center">
          <img *ngIf="selectedPaymentMode==='CARD'" src="../../assets/card.jpg" style="width: 300px; height: 200px;">
          <img *ngIf="selectedPaymentMode==='BITCOIN'" src="../../assets/bitcoin.jpg" style="width: 200px; height: 200px;">
          <img *ngIf="selectedPaymentMode==='PAYPAL'" src="../../assets/paypal.png" style="width: 200px; height: 200px;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="buy()">Buy</button>
      </div>
    </div>

  </div>
</div>
