.margined {
    width:60%;
}

th {
    background-color: moccasin;
}

.welcome {
    font-size: 250%;
    color: brown;
}

.radioFont {
    font-size: 200%;
}

.btn-danger {
    float: right;
    margin-right: 15%
}

.btn-primary {
    margin-left: 15%
}

.thCenter{
    text-align: center;
}